.size-button-70 {
    width: 70%;
}

.size-button-50 {
    width: 50%;
}

.rounded-8 {
    border-radius: 8px;
}

.rounded-4 {
    border-radius: 4px;
}

.rounded-12 {
    border-radius: 12px;
}

.rounded-14 {
    border-radius: 12px;
}